extends ./layout/index

block contenido
    main.container.mt-5 
        .row 
            .col-md-5 
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros",class="img-fluid")
            .col-md-7
                h1= pagina 
                blockquote Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis ipsum ipsam optio tempora adipisci necessitatibus consequatur? Molestias laboriosam, numquam dolore illum necessitatibus nisi eos ut repellendus, corporis beatae, unde recusandae!
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita cupiditate nam soluta rerum maiores! Voluptatum nobis animi in eligendi doloribus quia saepe veniam ab! Officiis natus excepturi vitae eos. Dolores.
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed fugiat dolor minus eos consequatur eum velit id modi repellat dolorum animi laudantium molestias quo sit deleniti natus at, eligendi consequuntur! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla id praesentium facilis, minus expedita dolore architecto, alias voluptates maiores, sed qui vitae. Cum saepe quidem nobis accusamus et, ea neque!
    .listado-iconos 
        .container.mt-5.py-5.text-center
            .row  
                .col-md-4
                    img(src="img/icono_seguridad.svg",alt="icono seguridad",class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores labore, libero adipisci ea quaerat excepturi blanditiis ipsum harum nisi doloremque unde, facere eligendi, assumenda sequi repellat! Molestiae, eveniet! Maiores, repudiandae.
                .col-md-4
                    img(src="img/icono_destinos.svg",alt="icono destinos",class="img-fluid mb-4")
                    h2.mb-4 Mejores destinos
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores labore, libero adipisci ea quaerat excepturi blanditiis ipsum harum nisi doloremque unde, facere eligendi, assumenda sequi repellat! Molestiae, eveniet! Maiores, repudiandae.
                .col-md-4
                    img(src="img/icono_precios.svg",alt="icono precios",class="img-fluid mb-4")
                    h2.mb-4 Al mejor precio
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores labore, libero adipisci ea quaerat excepturi blanditiis ipsum harum nisi doloremque unde, facere eligendi, assumenda sequi repellat! Molestiae, eveniet! Maiores, repudiandae.