footer.container.py-5
    .row
        .col-md-6
            nav.nav.footer.justify-content-center.justify-content-md-start
                a.nav-link(href="/nosotros") NOSOTROS
                a.nav-link(href="/viajes") VIAJES
                a.nav-link(href="/testimoniales") TESTIMONIALES 
        .col
            p.copyright.text-center.text-md-right
                | TODOS LOS DERECHOS RESERVADOS 
                span= actualYear 